pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.
Machine learnning - learinging  patterns from the data

pandas is developed in 2008 by Mckinney
very useful with structured data(tabular)

In [1]:
import pandas as pd

In [2]:
pd.read_csv("Copy of annual haldia report.csv") #read a comma-separated values (csv) file into dataframe.

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#by default pandas understand the first row as the column name
pd.read_csv("Copy of annual haldia report.csv", header  = None) #internal integer indexes are provided by pandas for rows and column

,0,1,2,3,4,5
0,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
1,03/01/22,156.83,183.57,52.27,375.37,0.22
2,03/02/22,270.9292857,310.8230952,138.7345238,629.1867857,0.36
3,03/03/22,341.7690323,950.2397372,441.3447619,1924.020557,1.039792743
4,03/04/22,502.1353333,1583.427146,691.9527778,3232.31666,1.772764457
5,03/05/22,432.1174194,1298.605287,613.8623656,2651.396454,1.427913082
6,03/06/22,356.1873333,1060.554114,496.92,2163.357619,1.165637698
7,03/07/22,319.416129,879.4296774,444.3748387,1794.032258,0.97
8,03/08/22,415.6294163,457.0403994,212.9742704,931.8452381,0.513282642
9,03/09/22,409.6166667,200.6866667,60.67,409.01,0.245233333
10,03/10/22,299.9428571,208.25,68.35714286,424.3928571,0.253214286
11,03/11/22,348.5533333,301.5833333,110.7833333,615.5,0.347166667
12,03/12/22,313.6913978,330.516129,117.0806452,665.4247312,0.372634409
13,03/01/23,273.0091398,389.2204301,139.5591398,793.6908602,0.437822581
14,03/02/23,432.0708333,796.4196429,378.5238095,1595.113095,0.876845238
15,03/03/23,439.4936368,1575.146806,827.1998166,3212.072451,1.744344499
16,03/04/23,397.7629598,1671.016855,871.1473591,3396.765229,1.849916685
17,03/05/23,422.9049571,1857.135165,974.6672929,3779.700996,2.058036523
18,03/06/23,266.9905198,1463.191419,771.949787,2985.519922,1.591691492
19,03/07/23,283.3405914,792.9837814,389.5907706,1617.483513,0.870935484
20,03/08/23,332.0233333,496.6961111,229.8805556,1015.072222,0.559811111
21,03/09/23,275.326,295.0033333,115.365,601.2816667,0.3429
22,03/10/23,258.6274194,171.1086022,52.40215054,348.333871,0.218446237
23,03/11/23,194.7082222,312.2727778,115.7138889,636.9911111,0.360727778
24,03/12/23,132.3150538,261.333871,80.86666667,532.6876344,0.306252688
25,03/01/24,169.7143548,325.3903226,110.8532258,663.3645161,0.371112903
26,03/02/24,235.9263793,577.243908,250.3344828,1177.206322,0.636258621
27,03/03/24,401.6900358,1566.491039,849.6202509,3196.351523,1.740795699
28,03/04/24,371.3126204,2051.474259,1156.034815,4185.768056,2.285636111
29,03/05/24,328.8784908,2309.939337,1339.678866,4712.534562,2.584080261
30,03/06/24,198.4301786,1313.651786,764.1126984,2665.559325,1.449636905
31,03/07/24,210.9847734,690.1128648,363.8483103,1407.579339,0.762670123
32,03/08/24,291.4647312,159.8443548,47.4561828,328.8384409,0.183486559
33,03/09/24,190.7,129.11,31.14,268.65,0.13
34,03/10/24,163.85,140.82,36.48,292.88,0.14
35,03/11/24,111.16,178.3,44.43,368.73,0.18
36,03/12/24,105.03,255.54,66.4,520.05,0.25
37,03/01/25,119.4250538,286.7462366,74.74569892,557.6973118,0.508446237
38,03/02/25,191.8034127,703.79,290.3571429,1348.583571,0.69735
39,03/03/25,364.4912903,2030.813871,966.4019355,3685.853548,2.082190323
40,03/04/25,328.093,2798.267333,1345.957667,4998.816,2.86631
41,03/05/25,242.2109677,1973.634091,949.2881818,3584.377273,1.995272727
42,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#if you dont want the fisrt two rows
pd.read_csv("Copy of annual haldia report.csv", skiprows = 2)#skip first two rows while reading the data

    03/02/22  270.9292857  310.8230952  138.7345238  629.1867857      0.36
0   03/03/22   341.769032   950.239737   441.344762  1924.020557  1.039793
1   03/04/22   502.135333  1583.427146   691.952778  3232.316660  1.772764
2   03/05/22   432.117419  1298.605287   613.862366  2651.396454  1.427913
3   03/06/22   356.187333  1060.554114   496.920000  2163.357619  1.165638
4   03/07/22   319.416129   879.429677   444.374839  1794.032258  0.970000
5   03/08/22   415.629416   457.040399   212.974270   931.845238  0.513283
6   03/09/22   409.616667   200.686667    60.670000   409.010000  0.245233
7   03/10/22   299.942857   208.250000    68.357143   424.392857  0.253214
8   03/11/22   348.553333   301.583333   110.783333   615.500000  0.347167
9   03/12/22   313.691398   330.516129   117.080645   665.424731  0.372634
10  03/01/23   273.009140   389.220430   139.559140   793.690860  0.437823
11  03/02/23   432.070833   796.419643   378.523810  1595.113095  0.876845
12  03/03/23   439.493637  1575.146806   827.199817  3212.072451  1.744344
13  03/04/23   397.762960  1671.016855   871.147359  3396.765229  1.849917
14  03/05/23   422.904957  1857.135165   974.667293  3779.700996  2.058037
15  03/06/23   266.990520  1463.191419   771.949787  2985.519922  1.591691
16  03/07/23   283.340591   792.983781   389.590771  1617.483513  0.870935
17  03/08/23   332.023333   496.696111   229.880556  1015.072222  0.559811
18  03/09/23   275.326000   295.003333   115.365000   601.281667  0.342900
19  03/10/23   258.627419   171.108602    52.402151   348.333871  0.218446
20  03/11/23   194.708222   312.272778   115.713889   636.991111  0.360728
21  03/12/23   132.315054   261.333871    80.866667   532.687634  0.306253
22  03/01/24   169.714355   325.390323   110.853226   663.364516  0.371113
23  03/02/24   235.926379   577.243908   250.334483  1177.206322  0.636259
24  03/03/24   401.690036  1566.491039   849.620251  3196.351523  1.740796
25  03/04/24   371.312620  2051.474259  1156.034815  4185.768056  2.285636
26  03/05/24   328.878491  2309.939337  1339.678866  4712.534562  2.584080
27  03/06/24   198.430179  1313.651786   764.112698  2665.559325  1.449637
28  03/07/24   210.984773   690.112865   363.848310  1407.579339  0.762670
29  03/08/24   291.464731   159.844355    47.456183   328.838441  0.183487
30  03/09/24   190.700000   129.110000    31.140000   268.650000  0.130000
31  03/10/24   163.850000   140.820000    36.480000   292.880000  0.140000
32  03/11/24   111.160000   178.300000    44.430000   368.730000  0.180000
33  03/12/24   105.030000   255.540000    66.400000   520.050000  0.250000
34  03/01/25   119.425054   286.746237    74.745699   557.697312  0.508446
35  03/02/25   191.803413   703.790000   290.357143  1348.583571  0.697350
36  03/03/25   364.491290  2030.813871   966.401936  3685.853548  2.082190
37  03/04/25   328.093000  2798.267333  1345.957667  4998.816000  2.866310
38  03/05/25   242.210968  1973.634091   949.288182  3584.377273  1.995273
39       NaN          NaN          NaN          NaN          NaN       NaN
40       NaN          NaN          NaN          NaN          NaN       NaN

In [5]:
pd.read_csv("Copy of annual haldia report.csv", usecols = ['Date','TDS(mg/l)'])

        Date    TDS(mg/l)
0   03/01/22   183.570000
1   03/02/22   310.823095
2   03/03/22   950.239737
3   03/04/22  1583.427146
4   03/05/22  1298.605287
5   03/06/22  1060.554114
6   03/07/22   879.429677
7   03/08/22   457.040399
8   03/09/22   200.686667
9   03/10/22   208.250000
10  03/11/22   301.583333
11  03/12/22   330.516129
12  03/01/23   389.220430
13  03/02/23   796.419643
14  03/03/23  1575.146806
15  03/04/23  1671.016855
16  03/05/23  1857.135165
17  03/06/23  1463.191419
18  03/07/23   792.983781
19  03/08/23   496.696111
20  03/09/23   295.003333
21  03/10/23   171.108602
22  03/11/23   312.272778
23  03/12/23   261.333871
24  03/01/24   325.390323
25  03/02/24   577.243908
26  03/03/24  1566.491039
27  03/04/24  2051.474259
28  03/05/24  2309.939337
29  03/06/24  1313.651786
30  03/07/24   690.112865
31  03/08/24   159.844355
32  03/09/24   129.110000
33  03/10/24   140.820000
34  03/11/24   178.300000
35  03/12/24   255.540000
36  03/01/25   286.746237
37  03/02/25   703.790000
38  03/03/25  2030.813871
39  03/04/25  2798.267333
40  03/05/25  1973.634091
41       NaN          NaN
42       NaN          NaN

In [6]:
df = pd.read_csv('Copy of annual haldia report.csv')

In [7]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#data structure >> Series and data frame
#series >> 1 dimensional in nature
#dataframe >> 2 dimesional in nature,multiple series combines to form of a dataframe()

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type([1,2,3,4])

list

In [11]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.Date

0     03/01/22
1     03/02/22
2     03/03/22
3     03/04/22
4     03/05/22
5     03/06/22
6     03/07/22
7     03/08/22
8     03/09/22
9     03/10/22
10    03/11/22
11    03/12/22
12    03/01/23
13    03/02/23
14    03/03/23
15    03/04/23
16    03/05/23
17    03/06/23
18    03/07/23
19    03/08/23
20    03/09/23
21    03/10/23
22    03/11/23
23    03/12/23
24    03/01/24
25    03/02/24
26    03/03/24
27    03/04/24
28    03/05/24
29    03/06/24
30    03/07/24
31    03/08/24
32    03/09/24
33    03/10/24
34    03/11/24
35    03/12/24
36    03/01/25
37    03/02/25
38    03/03/25
39    03/04/25
40    03/05/25
41         NaN
42         NaN
Name: Date, dtype: object

In [13]:
df["Conductivity(ms/cm)"]

0      375.370000
1      629.186786
2     1924.020557
3     3232.316660
4     2651.396454
5     2163.357619
6     1794.032258
7      931.845238
8      409.010000
9      424.392857
10     615.500000
11     665.424731
12     793.690860
13    1595.113095
14    3212.072451
15    3396.765229
16    3779.700996
17    2985.519922
18    1617.483513
19    1015.072222
20     601.281667
21     348.333871
22     636.991111
23     532.687634
24     663.364516
25    1177.206322
26    3196.351523
27    4185.768056
28    4712.534562
29    2665.559325
30    1407.579339
31     328.838441
32     268.650000
33     292.880000
34     368.730000
35     520.050000
36     557.697312
37    1348.583571
38    3685.853548
39    4998.816000
40    3584.377273
41            NaN
42            NaN
Name: Conductivity(ms/cm), dtype: float64

In [14]:
type(df["Conductivity(ms/cm)"])#a column is a series in a data frame

pandas.core.series.Series

In [15]:
l = [1,2,3,4]
s= pd.Series(l)

In [16]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
s[3]

np.int64(4)

In [18]:
s[1:]

1    2
2    3
3    4
dtype: int64

In [19]:
s[2:4]

2    3
3    4
dtype: int64

In [20]:
#by default indexes are integer, we can have custom indexes
d = pd.Series([100,200,300],index = ["sangam","munmun",1])

In [21]:
d

sangam    100
munmun    200
1         300
dtype: int64

In [22]:
type(d)

pandas.core.series.Series

In [23]:
d["sangam"]

np.int64(100)

In [24]:
#to see all th index of series
d.index

Index(['sangam', 'munmun', 1], dtype='object')

In [25]:
#to reset index
d.reset_index(drop = True)#Generate a new DataFrame or Series with the index reset

0    100
1    200
2    300
dtype: int64

In [26]:
pd.DataFrame(d)

          0
sangam  100
munmun  200
1       300

In [27]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.head(5)

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913

In [29]:
df.head(2)

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.22
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.36

In [30]:
df.tail(5)

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.tail(2)

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.shape

(43, 6)

In [33]:
df.columns

Index(['Date', 'Turbidity(NTU)', 'TDS(mg/l)', 'Chloride(mg/L)',
       'Conductivity(ms/cm)', 'Salinity (%)'],
      dtype='object')

In [34]:
list(df.columns)

['Date',
 'Turbidity(NTU)',
 'TDS(mg/l)',
 'Chloride(mg/L)',
 'Conductivity(ms/cm)',
 'Salinity (%)']

In [35]:
df.sample(2)#random sample

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 41 non-null     object
 1   Turbidity(NTU)       41 non-null     float64
 2   TDS(mg/l)            41 non-null     float64
 3   Chloride(mg/L)       41 non-null     float64
 4   Conductivity(ms/cm)  41 non-null     float64
 5   Salinity (%)         41 non-null     float64
dtypes: float64(5), object(1)
memory usage: 2.1+ KB

In [37]:
df.dtypes

Date                    object
Turbidity(NTU)         float64
TDS(mg/l)              float64
Chloride(mg/L)         float64
Conductivity(ms/cm)    float64
Salinity (%)           float64
dtype: object

In [38]:
df["Date"]

0     03/01/22
1     03/02/22
2     03/03/22
3     03/04/22
4     03/05/22
5     03/06/22
6     03/07/22
7     03/08/22
8     03/09/22
9     03/10/22
10    03/11/22
11    03/12/22
12    03/01/23
13    03/02/23
14    03/03/23
15    03/04/23
16    03/05/23
17    03/06/23
18    03/07/23
19    03/08/23
20    03/09/23
21    03/10/23
22    03/11/23
23    03/12/23
24    03/01/24
25    03/02/24
26    03/03/24
27    03/04/24
28    03/05/24
29    03/06/24
30    03/07/24
31    03/08/24
32    03/09/24
33    03/10/24
34    03/11/24
35    03/12/24
36    03/01/25
37    03/02/25
38    03/03/25
39    03/04/25
40    03/05/25
41         NaN
42         NaN
Name: Date, dtype: object

In [39]:
df["TDS(mg/l)"]

0      183.570000
1      310.823095
2      950.239737
3     1583.427146
4     1298.605287
5     1060.554114
6      879.429677
7      457.040399
8      200.686667
9      208.250000
10     301.583333
11     330.516129
12     389.220430
13     796.419643
14    1575.146806
15    1671.016855
16    1857.135165
17    1463.191419
18     792.983781
19     496.696111
20     295.003333
21     171.108602
22     312.272778
23     261.333871
24     325.390323
25     577.243908
26    1566.491039
27    2051.474259
28    2309.939337
29    1313.651786
30     690.112865
31     159.844355
32     129.110000
33     140.820000
34     178.300000
35     255.540000
36     286.746237
37     703.790000
38    2030.813871
39    2798.267333
40    1973.634091
41            NaN
42            NaN
Name: TDS(mg/l), dtype: float64

In [40]:
list(df["TDS(mg/l)"])

[183.57,
 310.8230952,
 950.2397372,
 1583.427146,
 1298.605287,
 1060.554114,
 879.4296774,
 457.0403994,
 200.6866667,
 208.25,
 301.5833333,
 330.516129,
 389.2204301,
 796.4196429,
 1575.146806,
 1671.016855,
 1857.135165,
 1463.191419,
 792.9837814,
 496.6961111,
 295.0033333,
 171.1086022,
 312.2727778,
 261.333871,
 325.3903226,
 577.243908,
 1566.491039,
 2051.474259,
 2309.939337,
 1313.651786,
 690.1128648,
 159.8443548,
 129.11,
 140.82,
 178.3,
 255.54,
 286.7462366,
 703.79,
 2030.813871,
 2798.267333,
 1973.634091,
 nan,
 nan]

In [41]:
#series to a dataframe
s = pd.Series([2,3,4], index = [100,"sangam",200])

In [42]:
s

100       2
sangam    3
200       4
dtype: int64

In [43]:
d = pd.DataFrame(s)

In [44]:
d

        0
100     2
sangam  3
200     4

In [45]:
type(d)

pandas.core.frame.DataFrame

In [46]:
d["new column"] = "SANGAM"

In [47]:
d

        0 new column
100     2     SANGAM
sangam  3     SANGAM
200     4     SANGAM

In [48]:
d["new column"] #best way to access the column this way but its a continuous string, you can access using df.column

100       SANGAM
sangam    SANGAM
200       SANGAM
Name: new column, dtype: object

In [49]:
d

        0 new column
100     2     SANGAM
sangam  3     SANGAM
200     4     SANGAM

In [50]:
d["new column 2"]= [1,2,3] #no of new column elements equals to no of rows

In [51]:
d

        0 new column  new column 2
100     2     SANGAM             1
sangam  3     SANGAM             2
200     4     SANGAM             3

In [52]:
#reset_index

In [53]:
d.reset_index(drop = True)

   0 new column  new column 2
0  2     SANGAM             1
1  3     SANGAM             2
2  4     SANGAM             3

In [54]:
d.columns = ["col1","col2","col3"]
d

        col1    col2  col3
100        2  SANGAM     1
sangam     3  SANGAM     2
200        4  SANGAM     3

In [55]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#accessing one column --> series multiple columns (with square bracket becomes a dataframe)
#a subset of data frame
df[["Date","Salinity (%)"]]

        Date  Salinity (%)
0   03/01/22      0.220000
1   03/02/22      0.360000
2   03/03/22      1.039793
3   03/04/22      1.772764
4   03/05/22      1.427913
5   03/06/22      1.165638
6   03/07/22      0.970000
7   03/08/22      0.513283
8   03/09/22      0.245233
9   03/10/22      0.253214
10  03/11/22      0.347167
11  03/12/22      0.372634
12  03/01/23      0.437823
13  03/02/23      0.876845
14  03/03/23      1.744344
15  03/04/23      1.849917
16  03/05/23      2.058037
17  03/06/23      1.591691
18  03/07/23      0.870935
19  03/08/23      0.559811
20  03/09/23      0.342900
21  03/10/23      0.218446
22  03/11/23      0.360728
23  03/12/23      0.306253
24  03/01/24      0.371113
25  03/02/24      0.636259
26  03/03/24      1.740796
27  03/04/24      2.285636
28  03/05/24      2.584080
29  03/06/24      1.449637
30  03/07/24      0.762670
31  03/08/24      0.183487
32  03/09/24      0.130000
33  03/10/24      0.140000
34  03/11/24      0.180000
35  03/12/24      0.250000
36  03/01/25      0.508446
37  03/02/25      0.697350
38  03/03/25      2.082190
39  03/04/25      2.866310
40  03/05/25      1.995273
41       NaN           NaN
42       NaN           NaN

In [57]:
df_subset  = df[["Date","Salinity (%)","TDS(mg/l)"]]

In [58]:
df_subset

        Date  Salinity (%)    TDS(mg/l)
0   03/01/22      0.220000   183.570000
1   03/02/22      0.360000   310.823095
2   03/03/22      1.039793   950.239737
3   03/04/22      1.772764  1583.427146
4   03/05/22      1.427913  1298.605287
5   03/06/22      1.165638  1060.554114
6   03/07/22      0.970000   879.429677
7   03/08/22      0.513283   457.040399
8   03/09/22      0.245233   200.686667
9   03/10/22      0.253214   208.250000
10  03/11/22      0.347167   301.583333
11  03/12/22      0.372634   330.516129
12  03/01/23      0.437823   389.220430
13  03/02/23      0.876845   796.419643
14  03/03/23      1.744344  1575.146806
15  03/04/23      1.849917  1671.016855
16  03/05/23      2.058037  1857.135165
17  03/06/23      1.591691  1463.191419
18  03/07/23      0.870935   792.983781
19  03/08/23      0.559811   496.696111
20  03/09/23      0.342900   295.003333
21  03/10/23      0.218446   171.108602
22  03/11/23      0.360728   312.272778
23  03/12/23      0.306253   261.333871
24  03/01/24      0.371113   325.390323
25  03/02/24      0.636259   577.243908
26  03/03/24      1.740796  1566.491039
27  03/04/24      2.285636  2051.474259
28  03/05/24      2.584080  2309.939337
29  03/06/24      1.449637  1313.651786
30  03/07/24      0.762670   690.112865
31  03/08/24      0.183487   159.844355
32  03/09/24      0.130000   129.110000
33  03/10/24      0.140000   140.820000
34  03/11/24      0.180000   178.300000
35  03/12/24      0.250000   255.540000
36  03/01/25      0.508446   286.746237
37  03/02/25      0.697350   703.790000
38  03/03/25      2.082190  2030.813871
39  03/04/25      2.866310  2798.267333
40  03/05/25      1.995273  1973.634091
41       NaN           NaN          NaN
42       NaN           NaN          NaN

In [59]:
type(df_subset)

pandas.core.frame.DataFrame

In [60]:
df1 = pd.read_excel("Book2.xlsx")

In [61]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
type(df)

pandas.core.frame.DataFrame

In [63]:
df1.ndim

2

In [64]:
df1.shape

(18, 19)

In [65]:
df1.size

342

In [66]:
df.dtypes

Date                    object
Turbidity(NTU)         float64
TDS(mg/l)              float64
Chloride(mg/L)         float64
Conductivity(ms/cm)    float64
Salinity (%)           float64
dtype: object

In [67]:
pip install lxml

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (6.0.0)
Note: you may need to restart the kernel to use updated packages.

In [83]:
import requests
data = requests.get("https://github.com/jigyansu1703/internship/blob/main/Quality%20report%20Jan_22%20to%20Aug_24.xlsx")

SyntaxError: invalid syntax (1774984991.py, line 1)

In [84]:
data.xlsm()

AttributeError: 'Response' object has no attribute 'xlsm'

In [ ]:
#all do

In [ ]:
pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [79]:
import requests
data = requests.get("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [81]:
data.html()

AttributeError: 'Response' object has no attribute 'html'

In [ ]:
df1.to_csv("players.csv", index = False)#write objective to a comma-separated valiues (csv) file
#to note to get the index of df, pass index = False

In [ ]:
#read jason file from url
url = "https://api.github.com/repos/pandas-dev/pandas/issues"#this link is jason file { } {}
pd.read_json(url)

In [70]:
import requests
data = requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [71]:
data

In [72]:
data.json()

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61913',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61913/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61913/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61913/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/61913',
  'id': 3246261681,
  'node_id': 'PR_kwDOAA0YD86fuvr4',
  'number': 61913,
  'title': 'CI: properly enable the string dtype also for custom CI builds',
  'user': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 48070600,
    'node_id': 'MDU6TGFiZWw0ODA3MDYwMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/CI',
    'name': 'CI',
    'color': 'a2bca7',
    'default': False,
    'description': 'Continuous Integration'},
   {'id': 57522093,
    'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
    'name': 'Strings',
    'color': '5319e7',
    'default': False,
    'description': 'String extension data type and string data'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/102',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/102',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/102/labels',
   'id': 9021906,
   'node_id': 'MI_kwDOAA0YD84AianS',
   'number': 102,
   'title': '3.0',
   'description': '',
   'creator': {'login': 'jbrockmendel',
    'id': 8078968,
    'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
    'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jbrockmendel',
    'html_url': 'https://github.com/jbrockmendel',
    'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
    'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
    'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
    'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
    'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
    'type': 'User',
    'user_view_type': 'public',
    'site_admin': False},
   'open_issues': 40,
   'closed_issues': 1894,
   'state': 'open',
   'created_at': '2023-02-08T18:16:49Z',
   'updated_at': '2025-07-20T13:43:35Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2025-07-20T10:57:02Z',
  'updated_at': '2025-07-20T13:58:06Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61913',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/61913',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/61913.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/61913.patch',
   'merged_at': None},
  'body': 'Small follow-up on https://github.com/pandas-dev/pandas/pull/61722, where I forgot to set the default of the env variable to 1 if not specified in the matrix (I included it in the main matrix, but then all custom builds that were explicitly listed in the `include: ` section of the matrix would not have the variable, and therefore still default to turn off the string dtype)',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61913/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61913/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61912',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61912/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61912/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61912/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/61912',
  'id': 3246237183,
  'node_id': 'PR_kwDOAA0YD86fuq21',
  'number': 61912,
  'title': 'Update frame.py',
  'user': {'login': 'imramraja',
   'id': 135125341,
   'node_id': 'U_kgDOCA3ZXQ',
   'avatar_url': 'https://avatars.githubusercontent.com/u/135125341?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/imramraja',
   'html_url': 'https://github.com/imramraja',
   'followers_url': 'https://api.github.com/users/imramraja/followers',
   'following_url': 'https://api.github.com/users/imramraja/following{/other_user}',
   'gists_url': 'https://api.github.com/users/imramraja/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/imramraja/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/imramraja/subscriptions',
   'organizations_url': 'https://api.github.com/users/imramraja/orgs',
   'repos_url': 'https://api.github.com/users/imramraja/repos',
   'events_url': 'https://api.github.com/users/imramraja/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/imramraja/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-07-20T10:19:28Z',
  'updated_at': '2025-07-20T10:19:28Z',
  'closed_at': None,
  'author_association': 'NONE',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61912',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/61912',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/61912.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/61912.patch',
   'merged_at': None},
  'body': 'This PR adds documentation to `DataFrame.to_parquet` and `pandas.read_parquet` highlighting that `DataFrame.attrs` are preserved when using the "pyarrow" engine.\r\n\r\nThis behavior is already implemented in `pandas/io/parquet/pyarrow.py`, but was undocumented. This PR improves discoverability for users.\r\n\r\n- [x] Added `Notes` section in both docstrings\r\n- [ ] (Optional) Will add test in follow-up if needed\r\n\r\nFirst-time contributor 😊\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61912/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61912/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61910',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61910/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61910/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61910/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/61910',
  'id': 3246036129,
  'node_id': 'PR_kwDOAA0YD86fuBMY',
  'number': 61910,
  'title': "BUG: .describe() doesn't work for EAs #61707",
  'user': {'login': 'kernelism',
   'id': 85065053,
   'node_id': 'MDQ6VXNlcjg1MDY1MDUz',
   'avatar_url': 'https://avatars.githubusercontent.com/u/85065053?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/kernelism',
   'html_url': 'https://github.com/kernelism',
   'followers_url': 'https://api.github.com/users/kernelism/followers',
   'following_url': 'https://api.github.com/users/kernelism/following{/other_user}',
   'gists_url': 'https://api.github.com/users/kernelism/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/kernelism/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/kernelism/subscriptions',
   'organizations_url': 'https://api.github.com/users/kernelism/orgs',
   'repos_url': 'https://api.github.com/users/kernelism/repos',
   'events_url': 'https://api.github.com/users/kernelism/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/kernelism/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2025-07-20T06:10:36Z',
  'updated_at': '2025-07-20T06:10:36Z',
  'closed_at': None,
  'author_association': 'NONE',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61910',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/61910',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/61910.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/61910.patch',
   'merged_at': None},
  'body': 'This PR fixes a bug where Series.describe() fails on certain `ExtensionArray` dtypes such as `pint[kg]`, due to attempting to cast the result to `Float64Dtype`. This is because some of the produced statistics are not castable to float, which raises errors like DimensionalityError.\r\n\r\nWe now avoid forcing a Float64Dtype return dtype when the EA’s scalar values cannot be safely cast. Instead:\r\n\r\nIf the EA produces outputs with mixed dtypes, the result is returned with `dtype=None`.\r\n\r\n- [x] closes #61707 \r\n- [x] Adds a regression test.\r\n- [x] pre-commit checks passed\r\n- [x] Adds type annotations\r\n- [x] Adds a whatsnew entry\r\n\r\n@jbrockmendel This is a new PR with the comments from [61760](https://github.com/pandas-dev/pandas/pull/61760) addressed. Apologies for the duplication.  \r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61910/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61910/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61909',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61909/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61909/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61909/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/61909',
  'id': 3245538156,
  'node_id': 'PR_kwDOAA0YD86fsexw',
  'number': 61909,
  'title': 'BUG: fix fill value for gouped sum in case of unobserved categories for string dtype (empty string instead of 0)',
  'user': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None},
   {'id': 57522093,
    'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
    'name': 'Strings',
    'color': '5319e7',
    'default': False,
    'description': 'String extension data type and string data'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/121',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/121',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/121/labels',
   'id': 13227124,
   'node_id': 'MI_kwDOAA0YD84AydR0',
   'number': 121,
   'title': '2.3.2',
   'description': 'on-merge: backport to 2.3.x',
   'creator': {'login': 'jorisvandenbossche',
    'id': 1020496,
    'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
    'avatar_url': 'https://avatars.githubusercontent.com/u/1020496?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jorisvandenbossche',
    'html_url': 'https://github.com/jorisvandenbossche',
    'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
    'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
    'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
    'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
    'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
    'type': 'User',
    'user_view_type': 'public',
    'site_admin': False},
   'open_issues': 4,
   'closed_issues': 0,
   'state': 'open',
   'created_at': '2025-07-08T07:51:20Z',
   'updated_at': '2025-07-20T13:43:35Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2025-07-19T18:28:34Z',
  'updated_at': '2025-07-20T11:04:55Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'type': None,
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/61909',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/61909',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/61909.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/61909.patch',
   'merged_at': None},
  'body': 'I ran into one more case of the sum of empty / all-NaN to use "0" instead of empty string (https://github.com/pandas-dev/pandas/issues/60229), specifically when effectively introducing empty groups with categorical data with observed=False.\r\n\r\nFollow-up on https://github.com/pandas-dev/pandas/pull/60936 \r\n\r\nThe passing through of `is_string` through several layers is a bit annoying, but effectively is needed to for now only changes this for string dtype, and not for object dtype in general (which in the other PR related to this, we did for now)',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61909/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61909/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61908',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61908/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61908/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/61908/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/61908',
  'id': 3245525510,
  'node_id': 'PR_kwDOAA0YD86fscAU',
  'number': 61908,
  'title': 'DOC: fix doctests for pandas/core/strings/accessor.py for new string dtype',
  'user': {'login': 'arthurlw',
   'id': 126365160,
   'node_id': 'U_kgDOB4gt6A',
   'avatar_url': 'https://avatars.githubusercontent.com/u/126365160?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/arthurlw',
   'html_url': 'https://github.com/arthurlw',
   'followers_url': 'https://api.github.com/users/arthurlw/followers',
   'following_url': 'https://api.github.com/users/arthurlw/following{/other_user}',
   'gists_url': 'https://api.github.com/users/arthurlw/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/arthurlw/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/arthurlw/subscriptions',
   'organizations_url': 'https://api.github.com/users/arthurlw/orgs',
   'repos_url': 'https://api.github.com/users/arthurlw/repos',
   'events_url': 'https://api.github.com/users/arthurlw/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/arthurlw/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],

"ADVANCED"

"ADVANCED"

In [102]:

#solving the data sets
#import pandas as pd

#df = pd.read_csv("https://github.com/jigyansu1703/internship/blob/main/Copy%20of%20annual%20haldia%20report.csv")

In [93]:
import requests
data = requests.get("https://github.com/jigyansu1703/internship/blob/main/Copy%20of%20annual%20haldia%20report.csv")

In [103]:
#pd.read_csv("data")

In [105]:
import pandas as pd
import certifi
import ssl
import urllib.request

url = "https://raw.githubusercontent.com/jigyansu1703/internship/main/Copy%20of%20annual%20haldia%20report.csv"
context = ssl.create_default_context(cafile=certifi.where())
response = urllib.request.urlopen(url, context=context)

df = pd.read_csv(response)
print(df)

        Date  Turbidity(NTU)    TDS(mg/l)  Chloride(mg/L)  \
0   03/01/22      156.830000   183.570000       52.270000
1   03/02/22      270.929286   310.823095      138.734524
2   03/03/22      341.769032   950.239737      441.344762
3   03/04/22      502.135333  1583.427146      691.952778
4   03/05/22      432.117419  1298.605287      613.862366
5   03/06/22      356.187333  1060.554114      496.920000
6   03/07/22      319.416129   879.429677      444.374839
7   03/08/22      415.629416   457.040399      212.974270
8   03/09/22      409.616667   200.686667       60.670000
9   03/10/22      299.942857   208.250000       68.357143
10  03/11/22      348.553333   301.583333      110.783333
11  03/12/22      313.691398   330.516129      117.080645
12  03/01/23      273.009140   389.220430      139.559140
13  03/02/23      432.070833   796.419643      378.523810
14  03/03/23      439.493637  1575.146806      827.199817
15  03/04/23      397.762960  1671.016855      871.147359
16  03/05/23      422.904957  1857.135165      974.667293
17  03/06/23      266.990520  1463.191419      771.949787
18  03/07/23      283.340591   792.983781      389.590771
19  03/08/23      332.023333   496.696111      229.880556
20  03/09/23      275.326000   295.003333      115.365000
21  03/10/23      258.627419   171.108602       52.402151
22  03/11/23      194.708222   312.272778      115.713889
23  03/12/23      132.315054   261.333871       80.866667
24  03/01/24      169.714355   325.390323      110.853226
25  03/02/24      235.926379   577.243908      250.334483
26  03/03/24      401.690036  1566.491039      849.620251
27  03/04/24      371.312620  2051.474259     1156.034815
28  03/05/24      328.878491  2309.939337     1339.678866
29  03/06/24      198.430179  1313.651786      764.112698
30  03/07/24      210.984773   690.112865      363.848310
31  03/08/24      291.464731   159.844355       47.456183
32  03/09/24      190.700000   129.110000       31.140000
33  03/10/24      163.850000   140.820000       36.480000
34  03/11/24      111.160000   178.300000       44.430000
35  03/12/24      105.030000   255.540000       66.400000
36  03/01/25      119.425054   286.746237       74.745699
37  03/02/25      191.803413   703.790000      290.357143
38  03/03/25      364.491290  2030.813871      966.401936
39  03/04/25      328.093000  2798.267333     1345.957667
40  03/05/25      242.210968  1973.634091      949.288182
41       NaN             NaN          NaN             NaN
42       NaN             NaN          NaN             NaN

    Conductivity(ms/cm)  Salinity (%)
0            375.370000      0.220000
1            629.186786      0.360000
2           1924.020557      1.039793
3           3232.316660      1.772764
4           2651.396454      1.427913
5           2163.357619      1.165638
6           1794.032258      0.970000
7            931.845238      0.513283
8            409.010000      0.245233
9            424.392857      0.253214
10           615.500000      0.347167
11           665.424731      0.372634
12           793.690860      0.437823
13          1595.113095      0.876845
14          3212.072451      1.744344
15          3396.765229      1.849917
16          3779.700996      2.058037
17          2985.519922      1.591691
18          1617.483513      0.870935
19          1015.072222      0.559811
20           601.281667      0.342900
21           348.333871      0.218446
22           636.991111      0.360728
23           532.687634      0.306253
24           663.364516      0.371113
25          1177.206322      0.636259
26          3196.351523      1.740796
27          4185.768056      2.285636
28          4712.534562      2.584080
29          2665.559325      1.449637
30          1407.579339      0.762670
31           328.838441      0.183487
32           268.650000      0.130000
33           292.880000      0.140000
34           368.730000      0.180000
35           520.050000      0.250000
36           557.697312      0.508446
37          1348.583571      0.697350
38          3685.853548      2.082190
39          4998.816000      2.866310
40          3584.377273      1.995273
41                  NaN           NaN
42                  NaN           NaN

In [106]:
df.columns

Index(['Date', 'Turbidity(NTU)', 'TDS(mg/l)', 'Chloride(mg/L)',
       'Conductivity(ms/cm)', 'Salinity (%)'],
      dtype='object')

In [107]:
df.head()

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913

In [108]:
df.tail()

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273
41,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df.dtypes

Date                    object
Turbidity(NTU)         float64
TDS(mg/l)              float64
Chloride(mg/L)         float64
Conductivity(ms/cm)    float64
Salinity (%)           float64
dtype: object

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 41 non-null     object
 1   Turbidity(NTU)       41 non-null     float64
 2   TDS(mg/l)            41 non-null     float64
 3   Chloride(mg/L)       41 non-null     float64
 4   Conductivity(ms/cm)  41 non-null     float64
 5   Salinity (%)         41 non-null     float64
dtypes: float64(5), object(1)
memory usage: 2.1+ KB

In [111]:
df.describe()#statical information about numerical column

,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
count,41.000000,41.000000,41.000000,41.000000,41.000000
mean,290.257467,861.888385,416.666594,1714.473305,0.945576
std,103.392096,727.895186,395.681946,1407.709180,0.774344
min,105.030000,129.110000,31.140000,268.650000,0.130000
25%,198.430179,286.746237,80.866667,557.697312,0.342900
50%,291.464731,577.243908,250.334483,1177.206322,0.636259
75%,364.491290,1463.191419,764.112698,2985.519922,1.591691
max,502.135333,2798.267333,1345.957667,4998.816000,2.866310

DATA --> 1. numerical(quantitative data) --> 1.1 continuous(343234.65),1.2 Discrete(whole number,like how many children so ans is whole 2 or 3(int))
         2. categorical(qualitative data)

In [112]:
#five point summary >> min, 25%, 50%, 75%, max

In [114]:
df[[	"Turbidity(NTU)",	"TDS(mg/l)",	"Chloride(mg/L)"	]]

    Turbidity(NTU)    TDS(mg/l)  Chloride(mg/L)
0       156.830000   183.570000       52.270000
1       270.929286   310.823095      138.734524
2       341.769032   950.239737      441.344762
3       502.135333  1583.427146      691.952778
4       432.117419  1298.605287      613.862366
5       356.187333  1060.554114      496.920000
6       319.416129   879.429677      444.374839
7       415.629416   457.040399      212.974270
8       409.616667   200.686667       60.670000
9       299.942857   208.250000       68.357143
10      348.553333   301.583333      110.783333
11      313.691398   330.516129      117.080645
12      273.009140   389.220430      139.559140
13      432.070833   796.419643      378.523810
14      439.493637  1575.146806      827.199817
15      397.762960  1671.016855      871.147359
16      422.904957  1857.135165      974.667293
17      266.990520  1463.191419      771.949787
18      283.340591   792.983781      389.590771
19      332.023333   496.696111      229.880556
20      275.326000   295.003333      115.365000
21      258.627419   171.108602       52.402151
22      194.708222   312.272778      115.713889
23      132.315054   261.333871       80.866667
24      169.714355   325.390323      110.853226
25      235.926379   577.243908      250.334483
26      401.690036  1566.491039      849.620251
27      371.312620  2051.474259     1156.034815
28      328.878491  2309.939337     1339.678866
29      198.430179  1313.651786      764.112698
30      210.984773   690.112865      363.848310
31      291.464731   159.844355       47.456183
32      190.700000   129.110000       31.140000
33      163.850000   140.820000       36.480000
34      111.160000   178.300000       44.430000
35      105.030000   255.540000       66.400000
36      119.425054   286.746237       74.745699
37      191.803413   703.790000      290.357143
38      364.491290  2030.813871      966.401936
39      328.093000  2798.267333     1345.957667
40      242.210968  1973.634091      949.288182
41             NaN          NaN             NaN
42             NaN          NaN             NaN

In [115]:
df.dtypes

Date                    object
Turbidity(NTU)         float64
TDS(mg/l)              float64
Chloride(mg/L)         float64
Conductivity(ms/cm)    float64
Salinity (%)           float64
dtype: object

In [116]:
df.dtypes == "object" #object is a string datatypes

Date                    True
Turbidity(NTU)         False
TDS(mg/l)              False
Chloride(mg/L)         False
Conductivity(ms/cm)    False
Salinity (%)           False
dtype: bool

In [117]:
df.dtypes == "float"

Date                   False
Turbidity(NTU)          True
TDS(mg/l)               True
Chloride(mg/L)          True
Conductivity(ms/cm)     True
Salinity (%)            True
dtype: bool

In [119]:
df.dtypes[df.dtypes == "float"]
#return those series value where the condition is true

Turbidity(NTU)         float64
TDS(mg/l)              float64
Chloride(mg/L)         float64
Conductivity(ms/cm)    float64
Salinity (%)           float64
dtype: object

In [120]:
#To get the index

In [122]:
df.dtypes[df.dtypes == "object"].index

Index(['Date'], dtype='object')

In [124]:
#the string data
df[df.dtypes[df.dtypes == "object"].index]

        Date
0   03/01/22
1   03/02/22
2   03/03/22
3   03/04/22
4   03/05/22
5   03/06/22
6   03/07/22
7   03/08/22
8   03/09/22
9   03/10/22
10  03/11/22
11  03/12/22
12  03/01/23
13  03/02/23
14  03/03/23
15  03/04/23
16  03/05/23
17  03/06/23
18  03/07/23
19  03/08/23
20  03/09/23
21  03/10/23
22  03/11/23
23  03/12/23
24  03/01/24
25  03/02/24
26  03/03/24
27  03/04/24
28  03/05/24
29  03/06/24
30  03/07/24
31  03/08/24
32  03/09/24
33  03/10/24
34  03/11/24
35  03/12/24
36  03/01/25
37  03/02/25
38  03/03/25
39  03/04/25
40  03/05/25
41       NaN
42       NaN

In [126]:
#numercail data
df[df.dtypes[df.dtypes != "object"].index].describe()

,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
count,41.000000,41.000000,41.000000,41.000000,41.000000
mean,290.257467,861.888385,416.666594,1714.473305,0.945576
std,103.392096,727.895186,395.681946,1407.709180,0.774344
min,105.030000,129.110000,31.140000,268.650000,0.130000
25%,198.430179,286.746237,80.866667,557.697312,0.342900
50%,291.464731,577.243908,250.334483,1177.206322,0.636259
75%,364.491290,1463.191419,764.112698,2985.519922,1.591691
max,502.135333,2798.267333,1345.957667,4998.816000,2.866310

In [127]:
df.describe()

,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
count,41.000000,41.000000,41.000000,41.000000,41.000000
mean,290.257467,861.888385,416.666594,1714.473305,0.945576
std,103.392096,727.895186,395.681946,1407.709180,0.774344
min,105.030000,129.110000,31.140000,268.650000,0.130000
25%,198.430179,286.746237,80.866667,557.697312,0.342900
50%,291.464731,577.243908,250.334483,1177.206322,0.636259
75%,364.491290,1463.191419,764.112698,2985.519922,1.591691
max,502.135333,2798.267333,1345.957667,4998.816000,2.866310

In [128]:
df.describe(include = "object")

            Date
count         41
unique        41
top     03/01/22
freq           1

In [129]:
df.describe(include = "float")

,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
count,41.000000,41.000000,41.000000,41.000000,41.000000
mean,290.257467,861.888385,416.666594,1714.473305,0.945576
std,103.392096,727.895186,395.681946,1407.709180,0.774344
min,105.030000,129.110000,31.140000,268.650000,0.130000
25%,198.430179,286.746237,80.866667,557.697312,0.342900
50%,291.464731,577.243908,250.334483,1177.206322,0.636259
75%,364.491290,1463.191419,764.112698,2985.519922,1.591691
max,502.135333,2798.267333,1345.957667,4998.816000,2.866310

In [130]:
df.describe(include = "all")

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
count,41,41.000000,41.000000,41.000000,41.000000,41.000000
unique,41,NaN,NaN,NaN,NaN,NaN
top,03/01/22,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,290.257467,861.888385,416.666594,1714.473305,0.945576
std,NaN,103.392096,727.895186,395.681946,1407.709180,0.774344
min,NaN,105.030000,129.110000,31.140000,268.650000,0.130000
25%,NaN,198.430179,286.746237,80.866667,557.697312,0.342900
50%,NaN,291.464731,577.243908,250.334483,1177.206322,0.636259
75%,NaN,364.491290,1463.191419,764.112698,2985.519922,1.591691
max,NaN,502.135333,2798.267333,1345.957667,4998.816000,2.866310

In [132]:
df.astype('object').describe()#gives the statical information considering categorical  column

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
count,41,41.00,41.00,41.00,41.00,41.00
unique,41,41.00,41.00,41.00,41.00,41.00
top,03/01/22,156.83,183.57,52.27,375.37,0.22
freq,1,1.00,1.00,1.00,1.00,1.00

In [133]:
df.shape

(43, 6)

In [134]:
df[0:39] # [start:end-1:Step] size

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190

In [135]:
df[0:39:5]

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%)
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000

In [139]:
df
df["Level"] = "Moderate"

In [140]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%),new col,Level
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000,Moderate,Moderate
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000,Moderate,Moderate
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793,Moderate,Moderate
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764,Moderate,Moderate
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913,Moderate,Moderate
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638,Moderate,Moderate
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000,Moderate,Moderate
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283,Moderate,Moderate
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233,Moderate,Moderate
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214,Moderate,Moderate
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167,Moderate,Moderate
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634,Moderate,Moderate
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823,Moderate,Moderate
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845,Moderate,Moderate
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344,Moderate,Moderate
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917,Moderate,Moderate
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037,Moderate,Moderate
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691,Moderate,Moderate
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935,Moderate,Moderate
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811,Moderate,Moderate
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900,Moderate,Moderate
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446,Moderate,Moderate
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728,Moderate,Moderate
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253,Moderate,Moderate
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113,Moderate,Moderate
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259,Moderate,Moderate
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796,Moderate,Moderate
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636,Moderate,Moderate
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080,Moderate,Moderate
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637,Moderate,Moderate
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670,Moderate,Moderate
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487,Moderate,Moderate
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000,Moderate,Moderate
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000,Moderate,Moderate
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000,Moderate,Moderate
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000,Moderate,Moderate
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446,Moderate,Moderate
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350,Moderate,Moderate
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190,Moderate,Moderate
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310,Moderate,Moderate
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273,Moderate,Moderate
41,NaN,NaN,NaN,NaN,NaN,NaN,Moderate,Moderate
42,NaN,NaN,NaN,NaN,NaN,NaN,Moderate,Moderate

In [142]:
#create  new column in existing column
df["Turbidity+TDS"] = df["Turbidity(NTU)"]+df["TDS(mg/l)"]

In [153]:
df

,Date,Turbidity(NTU),TDS(mg/l),Chloride(mg/L),Conductivity(ms/cm),Salinity (%),new col,Level,Turbidity+TDS
0,03/01/22,156.830000,183.570000,52.270000,375.370000,0.220000,Moderate,Moderate,340.400000
1,03/02/22,270.929286,310.823095,138.734524,629.186786,0.360000,Moderate,Moderate,581.752381
2,03/03/22,341.769032,950.239737,441.344762,1924.020557,1.039793,Moderate,Moderate,1292.008769
3,03/04/22,502.135333,1583.427146,691.952778,3232.316660,1.772764,Moderate,Moderate,2085.562479
4,03/05/22,432.117419,1298.605287,613.862366,2651.396454,1.427913,Moderate,Moderate,1730.722706
5,03/06/22,356.187333,1060.554114,496.920000,2163.357619,1.165638,Moderate,Moderate,1416.741447
6,03/07/22,319.416129,879.429677,444.374839,1794.032258,0.970000,Moderate,Moderate,1198.845806
7,03/08/22,415.629416,457.040399,212.974270,931.845238,0.513283,Moderate,Moderate,872.669816
8,03/09/22,409.616667,200.686667,60.670000,409.010000,0.245233,Moderate,Moderate,610.303333
9,03/10/22,299.942857,208.250000,68.357143,424.392857,0.253214,Moderate,Moderate,508.192857
10,03/11/22,348.553333,301.583333,110.783333,615.500000,0.347167,Moderate,Moderate,650.136667
11,03/12/22,313.691398,330.516129,117.080645,665.424731,0.372634,Moderate,Moderate,644.207527
12,03/01/23,273.009140,389.220430,139.559140,793.690860,0.437823,Moderate,Moderate,662.229570
13,03/02/23,432.070833,796.419643,378.523810,1595.113095,0.876845,Moderate,Moderate,1228.490476
14,03/03/23,439.493637,1575.146806,827.199817,3212.072451,1.744344,Moderate,Moderate,2014.640443
15,03/04/23,397.762960,1671.016855,871.147359,3396.765229,1.849917,Moderate,Moderate,2068.779815
16,03/05/23,422.904957,1857.135165,974.667293,3779.700996,2.058037,Moderate,Moderate,2280.040122
17,03/06/23,266.990520,1463.191419,771.949787,2985.519922,1.591691,Moderate,Moderate,1730.181939
18,03/07/23,283.340591,792.983781,389.590771,1617.483513,0.870935,Moderate,Moderate,1076.324373
19,03/08/23,332.023333,496.696111,229.880556,1015.072222,0.559811,Moderate,Moderate,828.719444
20,03/09/23,275.326000,295.003333,115.365000,601.281667,0.342900,Moderate,Moderate,570.329333
21,03/10/23,258.627419,171.108602,52.402151,348.333871,0.218446,Moderate,Moderate,429.736022
22,03/11/23,194.708222,312.272778,115.713889,636.991111,0.360728,Moderate,Moderate,506.981000
23,03/12/23,132.315054,261.333871,80.866667,532.687634,0.306253,Moderate,Moderate,393.648925
24,03/01/24,169.714355,325.390323,110.853226,663.364516,0.371113,Moderate,Moderate,495.104677
25,03/02/24,235.926379,577.243908,250.334483,1177.206322,0.636259,Moderate,Moderate,813.170287
26,03/03/24,401.690036,1566.491039,849.620251,3196.351523,1.740796,Moderate,Moderate,1968.181075
27,03/04/24,371.312620,2051.474259,1156.034815,4185.768056,2.285636,Moderate,Moderate,2422.786879
28,03/05/24,328.878491,2309.939337,1339.678866,4712.534562,2.584080,Moderate,Moderate,2638.817828
29,03/06/24,198.430179,1313.651786,764.112698,2665.559325,1.449637,Moderate,Moderate,1512.081965
30,03/07/24,210.984773,690.112865,363.848310,1407.579339,0.762670,Moderate,Moderate,901.097638
31,03/08/24,291.464731,159.844355,47.456183,328.838441,0.183487,Moderate,Moderate,451.309086
32,03/09/24,190.700000,129.110000,31.140000,268.650000,0.130000,Moderate,Moderate,319.810000
33,03/10/24,163.850000,140.820000,36.480000,292.880000,0.140000,Moderate,Moderate,304.670000
34,03/11/24,111.160000,178.300000,44.430000,368.730000,0.180000,Moderate,Moderate,289.460000
35,03/12/24,105.030000,255.540000,66.400000,520.050000,0.250000,Moderate,Moderate,360.570000
36,03/01/25,119.425054,286.746237,74.745699,557.697312,0.508446,Moderate,Moderate,406.171290
37,03/02/25,191.803413,703.790000,290.357143,1348.583571,0.697350,Moderate,Moderate,895.593413
38,03/03/25,364.491290,2030.813871,966.401936,3685.853548,2.082190,Moderate,Moderate,2395.305161
39,03/04/25,328.093000,2798.267333,1345.957667,4998.816000,2.866310,Moderate,Moderate,3126.360333
40,03/05/25,242.210968,1973.634091,949.288182,3584.377273,1.995273,Moderate,Moderate,2215.845059
41,NaN,NaN,NaN,NaN,NaN,NaN,Moderate,Moderate,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,Moderate,Moderate,NaN

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 41 non-null     object
 1   Turbidity(NTU)       41 non-null     float64
 2   TDS(mg/l)            41 non-null     float64
 3   Chloride(mg/L)       41 non-null     float64
 4   Conductivity(ms/cm)  41 non-null     float64
 5   Salinity (%)         41 non-null     float64
 6   new col              43 non-null     object
 7   Level                43 non-null     object
 8   Turbidity+TDS        41 non-null     float64
dtypes: float64(6), object(3)
memory usage: 3.2+ KB

In [145]:
pd.Categorical(df["TDS(mg/l)"])#Diff categories of TDS

[183.570000, 310.823095, 950.239737, 1583.427146, 1298.605287, ..., 2030.813871, 2798.267333, 1973.634091, NaN, NaN]
Length: 43
Categories (41, float64): [129.110000, 140.820000, 159.844355, 171.108602, ..., 2030.813871, 2051.474259, 2309.939337, 2798.267333]

In [147]:
df["TDS(mg/l)"].unique()

array([ 183.57     ,  310.8230952,  950.2397372, 1583.427146 ,
       1298.605287 , 1060.554114 ,  879.4296774,  457.0403994,
        200.6866667,  208.25     ,  301.5833333,  330.516129 ,
        389.2204301,  796.4196429, 1575.146806 , 1671.016855 ,
       1857.135165 , 1463.191419 ,  792.9837814,  496.6961111,
        295.0033333,  171.1086022,  312.2727778,  261.333871 ,
        325.3903226,  577.243908 , 1566.491039 , 2051.474259 ,
       2309.939337 , 1313.651786 ,  690.1128648,  159.8443548,
        129.11     ,  140.82     ,  178.3      ,  255.54     ,
        286.7462366,  703.79     , 2030.813871 , 2798.267333 ,
       1973.634091 ,          nan])

In [148]:
df["Salinity (%)"].unique()

array([0.22      , 0.36      , 1.03979274, 1.77276446, 1.42791308,
       1.1656377 , 0.97      , 0.51328264, 0.24523333, 0.25321429,
       0.34716667, 0.37263441, 0.43782258, 0.87684524, 1.7443445 ,
       1.84991668, 2.05803652, 1.59169149, 0.87093548, 0.55981111,
       0.3429    , 0.21844624, 0.36072778, 0.30625269, 0.3711129 ,
       0.63625862, 1.7407957 , 2.28563611, 2.58408026, 1.4496369 ,
       0.76267012, 0.18348656, 0.13      , 0.14      , 0.18      ,
       0.25      , 0.50844624, 0.69735   , 2.08219032, 2.86631   ,
       1.99527273,        nan])

In [150]:
df["Salinity (%)"].nunique()
#no of unique value

41

In [152]:
df["Salinity (%)"].value_counts()

Salinity (%)
0.220000    1
0.218446    1
0.306253    1
0.371113    1
0.636259    1
1.740796    1
2.285636    1
2.584080    1
1.449637    1
0.762670    1
0.183487    1
0.130000    1
0.140000    1
0.180000    1
0.250000    1
0.508446    1
0.697350    1
2.082190    1
2.866310    1
0.360728    1
0.342900    1
0.360000    1
0.559811    1
1.039793    1
1.772764    1
1.427913    1
1.165638    1
0.970000    1
0.513283    1
0.245233    1
0.253214    1
0.347167    1
0.372634    1
0.437823    1
0.876845    1
1.744344    1
1.849917    1
2.058037    1
1.591691    1
0.870935    1
1.995273    1
Name: count, dtype: int64

In [156]:
#how many value less than 200
len(df[df['TDS(mg/l)']<200])

6

In [158]:
len(df[df['TDS(mg/l)']>=200])

35

In [159]:
#Q. How many vlaue less than avg TDS?

In [160]:
df['TDS(mg/l)'].mean()

np.float64(861.8883849463414)

In [161]:
len(df['TDS(mg/l)']< 861.88)

43

In [163]:
len(df['TDS(mg/l)'] < df['TDS(mg/l)'].mean())

43

In [166]:
#how many value have 0 value
len(df[df['TDS(mg/l)'] == 0])

0

In [170]:
df["TDS(mg/l)"].value_counts(normalize = True)

TDS(mg/l)
183.570000     0.02439
171.108602     0.02439
261.333871     0.02439
325.390323     0.02439
577.243908     0.02439
1566.491039    0.02439
2051.474259    0.02439
2309.939337    0.02439
1313.651786    0.02439
690.112865     0.02439
159.844355     0.02439
129.110000     0.02439
140.820000     0.02439
178.300000     0.02439
255.540000     0.02439
286.746237     0.02439
703.790000     0.02439
2030.813871    0.02439
2798.267333    0.02439
312.272778     0.02439
295.003333     0.02439
310.823095     0.02439
496.696111     0.02439
950.239737     0.02439
1583.427146    0.02439
1298.605287    0.02439
1060.554114    0.02439
879.429677     0.02439
457.040399     0.02439
200.686667     0.02439
208.250000     0.02439
301.583333     0.02439
330.516129     0.02439
389.220430     0.02439
796.419643     0.02439
1575.146806    0.02439
1671.016855    0.02439
1857.135165    0.02439
1463.191419    0.02439
792.983781     0.02439
1973.634091    0.02439
Name: proportion, dtype: float64

In [171]:
#How many value near to TDS 1000

In [186]:
len(df[df["TDS(mg/l)"] >= 100])

41

In [187]:
#how many TDS more than avg TDS

In [192]:
df["TDS(mg/l)"].mean()

np.float64(861.8883849463414)

In [201]:

df[(df["TDS(mg/l)"] => 500) & (500 > df["TDS(mg/l)"].mean())]

SyntaxError: invalid syntax (1619556972.py, line 1)

In [202]:
import numpy as np
np.mean(df["TDS(mg/l)"])

np.float64(861.8883849463414)

In [205]:
max(df['TDS(mg/l)'])

2798.267333

In [206]:
min(df['TDS(mg/l)'])

129.11

In [207]:
#Value has maximunm TDS

In [220]:
df[df["TDS(mg/l)"] == max(df["TDS(mg/l)"])].Date

0     03/01/22
1     03/02/22
2     03/03/22
3     03/04/22
4     03/05/22
5     03/06/22
6     03/07/22
7     03/08/22
8     03/09/22
9     03/10/22
10    03/11/22
11    03/12/22
12    03/01/23
13    03/02/23
14    03/03/23
15    03/04/23
16    03/05/23
17    03/06/23
18    03/07/23
19    03/08/23
20    03/09/23
21    03/10/23
22    03/11/23
23    03/12/23
24    03/01/24
25    03/02/24
26    03/03/24
27    03/04/24
28    03/05/24
29    03/06/24
30    03/07/24
31    03/08/24
32    03/09/24
33    03/10/24
34    03/11/24
35    03/12/24
36    03/01/25
37    03/02/25
38    03/03/25
39    03/04/25
40    03/05/25
41         NaN
42         NaN
Name: Date, dtype: object